{
    "env": {
        "browser": true,
        "es2021": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "react"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "printWidth": 80,
                "trailingComma": "es5",
                "semi": true,
                "jsxSingleQuote": true,
                "singleQuote": true,
                "endOfLine": "auto",
                "max-len": [
                    "error",
                    {
                        "code": 120
                    }
                ]
            }
        ],
        "react/react-in-jsx-scope": "off"
    }
}